<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Great Lakes Refugee Association</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "roundrr.js" %>
  <%= csrf_meta_tag %>
</head>

<body>  
  <header>
    <div id="banner">
      <h1>GREAT LAKES REFUGEE ASSOCIATION</h1>
    </div>
    <nav>
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "About", 'about' %></li>
        <li><%= link_to "Press", 'press' %></li>
        <li><%= link_to "Video", 'video' %></li>
        <li><%= link_to "Photo", 'photo' %></li>
        <li><%= link_to "Contact", 'contact' %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
