<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Great Lakes Refugee Association</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "roundrr.js" %>
  <%= csrf_meta_tag %>
</head>

<body>  
  <header>
    <div id="banner">
      <h1>GREAT LAKES REFUGEE ASSOCIATION</h1>
    </div>
    <nav>
      <ul>
        <li><%= link_to "Home", '/', :class => is_active?("home") %></li>
        <li><%= link_to "About", 'about', :class => is_active?("about") %></li>
        <li><%= link_to "Press", 'press', :class => is_active?("press") %></li>
        <li><%= link_to "Video", 'video', :class => is_active?("video") %></li>
        <li><%= link_to "Photo", 'photo', :class => is_active?("photo") %></li>
        <li><%= link_to "Contact", 'contact', :class => is_active?("contact") %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
